= turbo_stream.prepend "data_points" do
  = render "data_points/data_point", metric: @metric, data_point: @data_point
= turbo_stream.replace "data_point_form" do
  = render "data_points/form", metric: @metric, data_point: @metric.data_points.new(recorded_at: Time.current)
